.header{
	position: relative;
	padding: 26px 0;
	&__body{
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}
	&__logo{
		flex-shrink: 0;
		margin-right: 45px;
	}
	&__menu{
		display: none;
	}
	&__control{
		display: flex;
		.icon{
			margin: 0;
		}
		.btn-outline-secondary{
			padding: 8px 20px;
			margin-right: 12px;
			opacity: .6;
		}
	}
	&__nav{
		margin-left: 0;
		margin-right: auto;
	}
	@include r(1540){
		&__logo{
			flex-shrink: 0;
			margin-right: auto;
		}
		&__menu{
			display: block;
			background-color: transparent;
			border: none;
			background-image: url("../img/icons-sprite.svg#menu");
			width: 32px;
			height: 32px;
			cursor: pointer;
			flex-shrink: 0;
		}
		&__nav{
			display: none;
			&.active{
				display: block;
			}
		}
	}
	@include r(1023){
		padding: 30px 0;
		&__body{
			padding: 0 10px;
		}
		&__menu{
			margin-right: 75px;
		}
		.btn-secondary{
			margin-right: 20px;
			margin-left: 0;
			padding: 18px 23px;
			&:after{
				content: '';
				position: absolute;
				top: 0;
				right: -11px;
				display: block;
				background-color: #fff;
				width: 6px;
				height: 100%;
			}
			&:hover {
				color: #fff;
				background-color: #5a6268;
				border-color: #545b62;
				&:after{
					background-color: #C2AB81;
				}
			}
			span{
				transform: skew(20deg);
				display: inline-block;
			}
		}
	}
	@include r(767){
		padding: 12px 0;
		&__body{
			padding: 0;
		}
		&__logo{
			flex-shrink: 0;
			margin-right: 0;
			margin-left: auto;
			max-width: 112px;
		}
		&__control{
			display: none;
		}
	}
}