.product-item{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  &__figure{
    margin: 0;
    img{
      width: 100%;
      display: block;
    }
  }
  &__content{
    padding: 22px 24px 29px;
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__label{
    color: #171717;
    font-size: 14px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  &__name{
    color: #171717;
    font-size: 16px;
    line-height: 26px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  &__text{
    margin-bottom: 20px;
  }
  &__date{
    color: #666666;
    font-size: 12px;
    line-height: 24px;
    font-weight: normal;
    margin-top: auto;
    margin-bottom: 23px;
  }
  .btn{
    width: 100%;
    margin: auto auto 0;
  }
  @include r(1023){
    &__text{
      margin-bottom: 42px;
    }
    &__date{
      margin-bottom: 25px;
    }
  }
  @include r(767){
    &__text{
      margin-bottom: 20px;
    }
    &__date{
      margin-bottom: 24px;
    }
  }
}