<div class="remodal" data-remodal-id="modal" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h1 class="remodal__title first-letter">Оставить заявку</h1>
    <div class="remodal__body">
        <form class="form js-send-form" action="">
            <div class="form-group">
                <input id="first_name" class="form-control" type="text"  placeholder="Ваше имя" required data-msg="Введите ваше имя">
            </div>
            <div class="form-group">
                <input id="phone" class="form-control js-phone-mask" name="phone" type="text" placeholder="+7 (___) ___-__-__" data-rule-required="true" data-rule-minlength="10" data-msg="Введите номер телефона">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary">Отправить</button>
            </div>
        </form>
    </div>
</div>